:root {
	--content-p-r: 0;
}

//colors
$color-black: #000000;
$color-light-black: #181818;
$color-light-black-2: #242424;
$color-light-black-3: #2A2A2A;
$color-dark-grey: #313131;
$color-grey: #5B5B5B;
$color-foot: #68717B;
$color-light-grey: #C4C4C4;
$color-white: #FFFFFF;
$color-yellow: #FFFF02;

// Размеры
$content-max-weight: 1240px;

@import "./common/normalize";
@import "./common/fonts";

* {
	box-sizing: border-box;
	outline-offset: 4px;
}

body {
    font-family: "Gotham Pro";
    font-size: 16px;
    line-height: 140%;
}

img {
    max-width: 100%;
}

p {
    margin: 0;
}

// https://github.com/WICG/focus-visible
.js-focus-visible :focus:not(.focus-visible) {
	outline: none;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
	max-width: 1170px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}

.main {
	flex: 1;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.title {
    font-size: 28px;
    line-height: 140%;
    text-transform: uppercase;
	margin: 0;
}

@import "./common/header.scss";
@import "./pages/index.scss";
@import "./common/footer.scss";

// @media screen and (max-width: 1274px) {

// }

// @media screen and (max-width: 960px) {

// }

// @media screen and (max-width: 768px) {

// }
