footer.footer
    .container
        ul.footer__list
            li.footer__item 
                p.footer__text 2021 © How to eat
            li.footer__item
                a.footer__link(href="#") Политика персональных данных
            li.footer__item
                p.footer__text Сайт сделал:
                    a.footer__link.footer__link--creator(href="#") RA-Studio